


  <div class="kui-header">
      <h1 class="kui-title">响应式布局</h1>
  </div>
  <div class="kui-content">
     
      <div class="panel">
          <div class="panel-body">
              <div class="example-wrap">
                  <h4>什么是响应式布局</h4>
                  <p>集中创建页面的图片排版大小，可以智能地根据用户行为以及使用的设备环境进行相对应的布局,主要用于针对不同屏幕尺寸，定制页面的内容。
                  </p>
                  <h4 class="example-title">KUI主要针对四种不同尺寸的设备屏幕</h4>
                  <p>超小屏幕<code>xs</code>尺寸：&lt;768px,小屏幕<code>sm</code>尺寸：&gt;=768px中等屏幕<code>md</code>尺寸：&gt;=992px，大屏幕<code>lg</code>尺寸：&gt;=1200px</p>
                  <div class="table-responsive">
                          <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>超小屏幕</th>
                                      <th>小屏幕</th>
                                      <th>中等屏幕</th>
                                      <th>大屏幕</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>.visible-xs</th>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                    </tr>
                                    <tr>
                                      <th>.visible-sm</th>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                    </tr>
                                    <tr>
                                      <th>.visible-md</th>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                    </tr>
                                    <tr>
                                      <th>.visible-lg</th>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                    </tr>
                                    <tr>
                                      <th>.hidden-xs</th>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                    </tr>
                                    <tr>
                                      <th>.hidden-sm</th>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                    </tr>
                                    <tr>
                                      <th>.hidden-md</th>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                      <td class="hl-success">可见</td>
                                    </tr>
                                    <tr>
                                      <th>.hidden-lg</th>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                      <td class="hl-success">可见</td>
                                      <td class="text-muted">隐藏</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p>
                                      <i class="fa fa-info-circle"></i> 其中显示辅助类 <code>.visible-xs</code>、<code>.visible-sm</code>、<code>.visible-md</code>、<code>.visible-lg</code> 可以组合使用，同理对于隐藏辅助类也可以组合使用以达到不同的效果。但不要将显示辅助类和隐藏辅助类混合使用。
                                </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="panel">
          <div class="panel-body">
                  <div class="example-wrap">
                          <h4>禁用响应式布局</h4>
                          <p>
                              <ul>
                              <li>移除 <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code> 标签，禁用移动设备缩放可视窗口尺寸。</li>
                              <li>避免使用一些响应式工具类，例如<code>.visible-xs</code>、<code>.visible-sm</code>、<code>.visible-md</code>、<code>.visible-lg</code>等。</li>
                              <li>当使用栅格系统时避免使用 <code>.col-sm-*</code>、<code>.col-md-*</code>、<code>.col-lg-*</code>，统一使用 code&gt;.col-xs-*。</li>
                              <li>使用固定宽度的布局容器（<code>.container-fixed</code>、<code>.container-fixed-md</code>、<code>.container-fixed-sm</code>、<code>.container-fixed-xs</code>）来代替响应式设计容器（<code>.container</code>）。</li>
                              <li>避免使用响应式组件，应该使用非响应式组件来代替，例如使用导航（<code>.nav</code>） 来代替响应式导航（<code>.navbar</code>）。</li>
                              </ul>
                              <i class="fa fa-info-circle"></i> KUI建议采用响应式布局，不需要太多代码，即可实现跨屏体验。
                          </p>
                  </div>
          </div>
      </div>
  </div>
  <script id="page_responsive" type="text/html"></script>