

  <div class="kui-header">
          <h1 class="kui-title">排版</h1>
          <div class="kui-header-actions">
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                  <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
              </button>
          </div>
  </div>
  <div class="kui-content">
          <div class="panel panel-bordered">
              <div class="panel-body">
                  <h4 class="panel-title">默认设置</h4>
                  <p>
                  <div class="row">
                      <div class="col-lg-12">
                          <p>KUI的默认字体<code>font-family</code>是无衬线字体<code>Helvetica Neue, Helvetica, Tahoma, Arial, Microsoft Yahei, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif</code>
                          </p><p>大小 <code>font-size</code> 是 14px</p><p>行高 <code>line-height</code> 为 1.6</p>
                      </div>
                  </div>
              </p>
              </div>
          </div>
          <div class="panel panel-bordered">
              <div class="panel-body">
                  <h4 class="panel-title">标题</h4>
                  <div class="row">
                      <div class="col-lg-12">
                              <h1>H1.一级KUI标题<small>KUI副标题</small></h1>
                              <h2>H2.二级KUI标题<small>KUI副标题</small></h1>
                              <h3>H3.三级KUI标题<small>KUI副标题</small></h1>
                              <h4>H4.四级KUI标题<small>KUI副标题</small></h1>
                              <h5>H5.五级KUI标题<small>KUI副标题</small></h1>
                              <h6>H6.六级KUI标题<small>KUI副标题</small></h1>
                              <p><i class="fa fa-info-circle"></i>标题样式可使用<code>h1 </code>到<code>h6 </code>作为标题，如果需要使用标题的样式，但又想使用内联文本，也可以为元素添加<code>.h1 </code>到<code>.h6 </code>class类来实现。
                              副标题可以通过 <code>small</code> 标签，或者通过为元素添加 <code>.small</code>类来实现副标题的显示。</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel panel-bordered">
              <div class="panel-body container-fluid">
                  <h4 class="panel-title">文字处理</h4>
                  <p>
                  <div class="row">
                      <div class="col-md-4">
                              <h4><strong>文字突显与强调</strong></h1>
                              <p>
                                  <span><code>strong</code> <strong>加粗文字，使用strong标签</strong></span><br/>
                                  <span><code>em</code> <em>被强调的文字，斜体显示，使用em标签</em></span><br/>
                                  <span><code>u</code> <u>u标签来使文字带下划线</u></span><br/>
                                  <span><code>mark</code> <mark>mark标签，突出要显示的文字</mark></span><br/>
                                  <span><code>del</code> <del>del标签，给文字带删除线</del></span><br/>
                                  <span><code>code</code> code标签用来突显代码</span><br/>
                                  <span><code>.uppercase</code> <span class="uppercase">kLSStt自动转大写字母</span></span><br/>
                                  <span><code>.lowercase</code> <span class="lowercase">kLSStt自动转小写字母</span></span><br/>
                                  <span><code>.capitalize</code> <span class="capitalize">klsstt 首字母自动转大写</span></span><br/>
                              </p>
                      </div>
                      <div class="col-md-4">
                              <h4><strong>列表</strong></h1>
                              <p>
                                  <code>&lt;ul&gt;&lt;li&gt;...&lt;li&gt;&lt;ul&gt;</code>无序列表标签：
                                  <ul>
                                      <li>这是一个无序列表</li>
                                      <li>含三个列表项</li>
                                      <li>作为示例</li>
                                  </ul>
                                  <code>&lt;ol&gt;&lt;li&gt;...&lt;li&gt;&lt;ol&gt;</code>有序列表标签：
                                  <ol>
                                      <li>这是一个有序列表</li>
                                      <li>含三个列表项</li>
                                      <li>作为示例</li>
                                  </ol>	
                              </p>
                      </div>
                      <div class="col-md-4">
                          <h4><strong>段落、引用、文字单行溢出省略号、线条、行内分割竖线</strong></h4>
                          <code>p</code>段落标签 向下10像素间距。
                          <blockquote>用<code>blockquote</code>标签来引用一大段内容</blockquote>
                          <div class="text-overflow" style="width:300px;">我是很长很长的文字，我的所在的容器尺寸有限，所以我溢出了，并且显示省略号</div>
                          <div class="line"></div>
                          <span class="pipe">|</span>
                      </div>
                  </div>
              </p>
                  <div class="row">
                      <div class="col-md-3">
                          <h4><strong>文字尺寸</strong></h4>
                              <p class="f-12">12px 字体</p>
                              <p class="f-14">14px 字体</p>
                              <p class="f-16">16px 字体</p>
                              <p class="f-18">18px 字体</p>
                              <p class="f-20">20px 字体</p>
                              <p class="f-24">24px 字体</p>
                              <p class="f-26">26px 字体</p>
                              <p class="f-28">28px 字体</p>
                              <p class="f-30">30px 字体</p>
                      </div>
                      <div class="col-md-2">
                          <h4><strong>文字行距</strong></h4>
                              <p class="lh-16">16像素行距</p>
                              <p class="lh-18">18像素行距</p>
                              <p class="lh-20">20像素行距</p>
                              <p class="lh-22">22像素行距</p>
                              <p class="lh-24">24像素行距</p>
                              <p class="lh-26">26像素行距</p>
                              <p class="lh-28">28像素行距</p>
                              <p class="lh-30">30像素行距</p>
                      </div>
                      <div class="col-md-3">
                          <h4><strong>文字颜色</strong></h4>
                          <p class="c-primary">主色</p>
                          <p class="c-secondary">次色</p>
                          <p class="c-success">强调色-成功</p>
                          <p class="c-error">强调色-错误</p>
                          <p class="c-warning">强调色-警告</p>
                          <p class="c-333">辅助色-#333333灰色</p>
                          <p class="c-666">辅助色-#666666灰色</p>
                          <p class="c-999">辅助色-#999999灰色</p>
                          <p class="c-red">标准色-红色</p>
                          <p class="c-green">标准色-绿色</p>
                          <p class="c-blue">标准色-蓝色</p>
                          <p class="c-white">标准色-白色</p>
                          <p class="c-black">标准色-黑色</p>
                          <p class="c-orange">标准色-橙色</p>
                      </div>	
                      <div class="col-md-2">
                          <h4><strong>上标 下标</strong></h4>
                          <p>
                              m<sup>2</sup><br/>
                              CO<sub>2</sub>
                          </p>
                      </div>
                      <div class="col-md-2">
                          <h4><strong>地址</strong></h4>
                          <address>深圳市宝安区民治街道深圳北站</address>
                      </div>

                  </div>
                  <div class="row">
                      <div  class="col-md-6">
                          <h4><strong>块级元素的外边距</strong></h4>
                          <p><code>.mt</code> 表示上边距，<code>.mb</code> 表示下边距，<code>.ml</code> 表示左边距，<code>.mr</code> 表示右边距
                                  
                                  支持任何块级元素，如果行内元素要想使用margin，请使用 <code>display：block</code> 先将其转化为块级元素</p>
                          <hr/>
                          <div class="mt-10" style="border:solid 1px #ddd; background-color:#f3f7f9;padding:20px">距上10像素</div>
                        
                      </div>
                      <div  class="col-md-3">
                              <h4><strong>填充</strong></h4>
                              <div class="pd-10" style="background-color:#f3f7f9; border:solid 1px #ddd"><span style="background-color:#fff">10像素填充</span></div>
                      </div>
                      <div class="col-md-3">
                          <h4><strong>边角圆角</strong></h4>
                          <div class="bk-gray pd-10 mt-10">边框</div>
                          <div class="bk-gray radius pt-10 mt-10">圆角边框</div>
                      </div>
                  
                  </div>

                  <div class="row">
                          <div class="col-sm-6">
                              <h4><strong>嵌入效果</strong></h4>
                              <p> 使用 <code>.well</code> 给元素添加一个简单的嵌入效果。 </p>
                              <div class="col-sm-6">
                              <div class="well well-sm">嵌入效果展示</div>
                              <div class="well">嵌入效果展示</div>
                              <div class="well well-lg">嵌入效果展示</div>
                              </div>
                              <div class="col-sm-6">
                              <div class="well well-sm well-primary">默认</div>
                              <div class="well well-sm well-success">成功</div>
                              <div class="well well-sm well-info">信息</div>
                              <div class="well well-sm well-warning">警告</div>
                              <div class="well well-sm well-danger">危险</div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <h4><strong>首字下沉</strong></h4>
                              <p>
                                      <span class="drop-cap">宋</span>代著名学者朱熹对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来的解释都是：学了以后思，前后句子也没有什么连贯性。但也有人认为这样解释不符合原义，指出这里的「学」不是指学习，而是指学说或主张；「时」不能解为时常，而是时代或社会的意思，「习」不是温习，而是使用，引申为采用。而且，这三句话不是孤立的，而是前后相互连贯的。这三句的意思是：自己的学说，要是被社会采用了，那就太高兴了；退一步说，要是没有被社会所采用，可是很多朋友赞同我的学说，纷纷到我这里来讨论问题，我也感到快乐；再退一步说，即使社会不采用，人们也不理解我，我也不怨恨，这样做，，供读者在理解本章内容时参考。
                                  </p>
                                  <p>
                                          <span class="drop-cap drop-cap-reversed">宋</span>代著名学者朱熹对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来本章这三句话是人们非常熟悉的。历来的解释都是本章这三句话是人们非常熟悉的。历来的解释都是本章这三句话是人们非常熟悉的。历来的解释都是的解释都是本章这三句话是人们非常熟悉的。历来的解释都是本章这三句话是人们非常熟悉的。历来的解释都是本章这三句话是人们非常熟悉的。，供读者在理解本章内容时参考。
                                      </p>
                          </div>
                          
                      </div>
              </div>
          </div>
  </div>
  <script id="page_typography" type="text/html"></script>