<style>
    .widget {
        position: relative;
        margin-bottom: 24px;
        background-color: #fff;
    }
    
    .masonry-item {
        margin-bottom: 20px;
        float: left;
        width: 30%;
    }
    
    .masonry-item img {
        max-width: 100%
    }
</style>
<div class="kui-header">
    <h1 class="kui-title">瀑布流</h1>
</div>
<div class="kui-content">
    <div data-plugin="masonry">
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-1.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">KUI 通用管理系统快速开发框架</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">22分钟前</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                    <p>KUI 不仅继承了Bootstrap 3 中的大部分基础内容，还汲取了大量开源框架/控件精华于一身，能让我们更便捷的进行敏捷开发。 您可以 KUI 为基础，快速开发各种后台系统，如CMS、OA、CRM、ERP、POS、GPS等。 KUI 涵盖了大量的常用组件和基础功能，最大程度上帮助企业节省时间成本和费用开支。</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>108</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-2.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">KUI 通用管理系统快速开发框架</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">22分钟之前</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                    <p>KUI 不仅继承了Bootstrap 3 中的大部分基础内容，还汲取了大量开源框架/控件精华于一身，能让我们更便捷的进行敏捷开发。</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>120</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <div class="cover-background padding-30" style="background-image: url('images/photos/city-3.jpg')">
                        <blockquote class="cover-quote white">KUI 通用管理系统快速开发框架</blockquote>
                    </div>
                </div>
                <div class="widget-body">
                    <p class="widget-metas type-link margin-bottom-0">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">刚刚</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-4.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">KUI 通用管理系统快速开发框架</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">10小时前</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                    <p>您可以 KUI 为基础，快速开发各种后台系统，如CMS、OA、CRM、ERP、POS、GPS等。</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>130</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-5.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">【KUI】快速上手</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">1小时前</a>
                        <a href="javascript:;"><span>3</span> 条评论</a>
                    </p>
                    <p>只需熟悉JQ即可轻松使用KUI所有功能.</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>120</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-6.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">KUI 通用管理系统快速开发框架</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">半小时前</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                    <p>KUI 不仅继承了Bootstrap 3 中的大部分基础内容，还汲取了大量开源框架/控件精华于一身，能让我们更便捷的进行敏捷开发。 您可以 KUI 为基础，快速开发各种后台系统，如CMS、OA、CRM、ERP、POS、GPS等。 KUI 涵盖了大量的常用组件和基础功能，最大程度上帮助企业节省时间成本和费用开支。</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>120</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <div class="cover-background padding-30" style="background-image: url('images/photos/city-1.jpg')">
                        <blockquote class="cover-quote white">KUI 通用管理系统快速开发框架。</blockquote>
                    </div>
                </div>
                <div class="widget-body">
                    <p class="widget-metas type-link margin-bottom-0">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">2017年1月1日</a>
                        <a href="javascript:;"><span>3</span> 条评论</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="masonry-item">
            <div class="widget widget-article widget-shadow">
                <div class="widget-header cover">
                    <img class="cover-image" src="images/photos/city-2.jpg" alt="...">
                </div>
                <div class="widget-body">
                    <h3 class="widget-title">KUI 通用管理系统快速开发框架</h3>
                    <p class="widget-metas type-link">
                        文 /
                        <a href="javascript:;">klsstt</a>
                        <a href="javascript:;">1天前</a>
                        <a href="javascript:;">
                            <span>3</span> 条评论
                        </a>
                    </p>
                    <p>KUI 不仅继承了Bootstrap 3 中的大部分基础内容，还汲取了大量开源框架/控件精华于一身，能让我们更便捷的进行敏捷开发。 您可以 KUI 为基础，快速开发各种后台系统，如CMS、OA、CRM、ERP、POS、GPS等。 KUI 涵盖了大量的常用组件和基础功能，最大程度上帮助企业节省时间成本和费用开支。</p>
                    <div class="widget-body-footer">
                        <div class="widget-actions pull-right">
                            <a href="javascript:;"><i class="fa fa-heart" aria-hidden="true"></i> <span>120</span>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline btn-primary">阅读全文</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/lib/masonry/masonry.pkgd.min.js"></script>
<script>
    $(function() {　
        setTimeout(masonry, 1000); //延迟1秒加载

        function masonry() {
            $('[data-plugin=masonry]').masonry({
                itemSelector: '.masonry-item',
                gutter: 20,
                isAnimated: true,
                //isFitWidth: true // 自适应宽度  
                percentPosition: true
            });
        }

    });
</script>