<style>
    .inline-block {
        display: inline-block !important;
    }
    
    .overlay-bottom {
        top: auto;
    }
    
    .avatar {
        position: relative;
        display: inline-block;
        width: 40px;
        white-space: nowrap;
        vertical-align: bottom;
        border-radius: 1000px;
    }
    
    .avatar-lg {
        width: 50px;
    }
    
    .avatar-100 {
        width: 100px;
    }
    
    .widget {
        height: calc(-30px + 100%);
        height: calc(-30px + 100%);
        margin-bottom: 30px;
    }
</style>
<div class="kui-header">
    <h1 class="kui-title">消息列表</h1>
</div>
<div class="kui-content">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header bg-green-600 pd-20 white">
                    <a class="avatar avatar-100 img-bordered bg-white pull-left mr-20" href="javascript:;">
                        <img src="images/portraits/1.jpg" alt="">
                    </a>
                    <div class="vertical-align height-100 text-truncate">
                        <div class="v-align-middle">
                            <div class="f-20 mb-5 text-truncate">康康</div>
                            <div class="f-14 text-truncate">管理员</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header bg-blue-600 pd-20 white text-center">
                    <a class="avatar avatar-100 img-bordered bg-white" href="javascript:;">
                        <img src="images/portraits/2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header pd-20 bg-blue-600 white">
                    <a class="avatar avatar-100 img-bordered bg-white pull-right" href="javascript:;">
                        <img src="images/portraits/4.jpg" alt="">
                    </a>
                    <div class="v-align height-100 text-truncate">
                        <div class="v-align-middle">
                            <div class="f-20 mb-5 text-truncate">康康</div>
                            <div class="f-14 text-truncate">Web 设计师</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header pd-20 bg-white">
                    <a class="avatar avatar-100 pull-left mr-20" href="javascript:;">
                        <img src="images/portraits/3.jpg" alt="">
                    </a>
                    <div class="v-align text-right height-100 text-truncate">
                        <div class="v-align-middle">
                            <div class="f-20 mb-5 blue-600 text-truncate">康康</div>
                            <div class="f-14 text-truncate">Web 设计师</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="widget widget-shadow text-center">
                <div class="widget-header cover overlay" style="height: calc(100% - 100px);">
                    <img class="cover-image height-full" src="images/photos/city-1.jpg" alt="..." style="height: 100%;">
                    <div class="overlay-panel v-align">
                        <div class="v-align-middle">
                            <a class="avatar avatar-100 bg-white mb-10 img-bordered margin-xs-0" href="javascript:;">
                                <img src="images/portraits/1.jpg" alt="">
                            </a>
                            <div class="f-20">康康</div>
                            <div class="f-14 grey-400">设计师</div>
                        </div>
                    </div>
                </div>
                <div class="widget-footer ph-20 pv-20 height-100">
                    <div class="row no-space">
                        <div class="col-xs-4">
                            <div class="counter">
                                <div>关注</div>
                                <span class="f-20 blue-grey-800">11.2K</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <div>粉丝</div>
                                <span class="f-20 blue-grey-800">683</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <div>微博</div>
                                <span class="f-20 blue-grey-800">326</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header cover overlay" style="height: calc(100% - 100px);">
                    <img class="cover-image" src="images/photos/city-2.jpg" alt="..." style="height: 100%;">
                    <div class="overlay-panel overlay-background overlay-top">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="f-20 white">康康</div>
                                <div class="f-14 grey-400">设计师</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div class="avatar">
                                    <img src="images/portraits/2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-footer text-center bg-white ph-20 pv-20 height-100">
                    <div class="row no-space">
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-grey-800">6809</span>
                                <div>关注</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-grey-800">569</span>
                                <div>粉丝</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-grey-800">357</span>
                                <div>微博</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="widget widget-shadow">
                <div class="widget-header cover overlay height-150">
                    <img class="cover-background " src="images/photos/city-3.jpg" />
                </div>
                <div class="widget-body ph-20 pv-10" style="height:calc(100% - 250px);">
                    <div style="position:relative;padding-left:110px;">
                        <a class="avatar avatar-100 bg-white img-bordered" href="javascript:;" style="position:absolute;top:-50px;left:0;">
                            <img src="images/portraits/2.jpg" alt="">
                        </a>
                        <div class="mb-20">
                            <div class="f-20">康康</div>
                            <div class="f-14">设计师</div>
                        </div>
                    </div>
                    <p>
                        matchHeight使所有选定元素的高度完全相等。 它处理许多导致类似插件失败的边缘情况。 </p>
                </div>
                <div class="widget-footer text-center bg-blue-grey-400 pd-20 height-100">
                    <div class="row no-space">
                        <div class="col-xs-6">
                            <div class="text-center pd-20 white">
                                <span class="f-20">7896</span>
                                <div class="inline-block ml-5">关注</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-center pd-20 white">
                                <span class="f-20">621</span>
                                <div class="inline-block ml-5">粉丝</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow">
                <div class="widget-header bg-blue-600 text-center pd-20 padding-bottom-15">
                    <div class="f-20 white">康康</div>
                    <div class="grey-300 f-14 mb-20">Web 设计师</div>
                    <a class="avatar avatar-100 img-bordered mb-10 bg-white" href="javascript:;">
                        <img src="images/portraits/4.jpg" alt="">
                    </a>
                </div>
                <div class="widget-footer pr-30 pl-30 pv-20 text-center">
                    <div class="row no-space">
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-600">102</span>
                                <div>项目</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-600">83</span>
                                <div>客户</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter">
                                <span class="f-20 blue-600">13.5K</span>
                                <div>关注</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget">
                <div class="widget-header white bg-cyan-600 pd-20 clearfix">
                    <a class="avatar avatar-100 pull-left mr-20" href="javascript:;">
                        <img src="images/portraits/5.jpg" alt="">
                    </a>
                    <div class="pull-left">
                        <div class="f-20 mb-15">康康</div>
                        <p class="mb-5 text-nowrap">
                            <i class="fa fa-map mr-10" aria-hidden="true"></i> <span class="text-break">广东省深圳市宝安区庭威产业园3#4楼</span>
                        </p>
                        <p class="mb-5 text-nowrap">
                            <i class="fa fa-envelope mr-10" aria-hidden="true"></i>
                            <span class="text-break">www@klsstt.com</span>
                        </p>
                        <p class="mb-5 text-nowrap">
                            <i class="fa fa-weibo mr-10" aria-hidden="true"></i>
                            <span class="text-break">klsstt</span>
                        </p>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="row no-space pv-20 pr-30 pl-30 text-center">
                        <div class="col-xs-4">
                            <div class="text-center">
                                <span class="f-20 cyan-600">102</span>
                                <div>项目</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                                <span class="f-20 cyan-600">125</span>
                                <div>客户</div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                                <span class="f-20 cyan-600">10.8K</span>
                                <div>关注</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow avatar-group">
                <div class="widget-header text-center pd-20">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="avatar avatar-lg margin-5" href="javascript:;">
                                <img src="images/portraits/7.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="avatar avatar-lg margin-5" href="javascript:;">
                                <img src="images/portraits/8.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="avatar avatar-lg margin-5" href="javascript:;">
                                <img src="images/portraits/3.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="f-18 blue-600">康康</div>
                    <div class="f-14">设计师</div>
                </div>
                <div class="widget-footer bg-blue-grey-400 white text-center pv-20 pr-30 pl-30">
                    <div class="row no-space ">
                        <div class="col-xs-4">
                            <div class="text-center pd-20 white">
                                <span class="f-20"><i class="fa fa-eye mr-15"  aria-hidden="true"></i></span>
                                <span class="f-20">102</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center pd-20 white">
                                <span class="f-20"><i class="fa fa-heart mr-15" aria-hidden="true"></i></span>
                                <span class="f-20">8</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center pd-20 white">
                                <span class="f-20"><i class="fa fa-user mr-15" aria-hidden="true"></i></span>
                                <span class="f-20">12.6K</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow">
                <div class="widget-header bg-blue-600 white pd-15 clearfix">
                    <a class="avatar avatar-lg pull-left mr-20" href="javascript:;">
                        <img src="images/portraits/6.jpg" alt="">
                    </a>
                    <div class="f-18">康康</div>
                    <div class="grey-300 f-14">Web 设计师</div>
                </div>
                <div class="widget-content">
                    <ul class="list-group list-group-bordered">
                        <li class="list-group-item">
                            <span class="badge bg-blue-600 white">6</span>
                            <i class="fa fa-inbox fa-fw" aria-hidden="true" draggable="true"></i> 未完成任务
                        </li>
                        <li class="list-group-item">
                            <span class="badge bg-cyan-600 white">2</span>
                            <i class="fa fa-user fa-fw" aria-hidden="true" draggable="true"></i> 在线用户
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-bell fa-fw" aria-hidden="true" draggable="true"></i> 未接消息
                        </li>
                        <li class="list-group-item">
                            <span class="badge bg-blue-600 white">10</span>
                            <i class="fa fa-info-circle fa-fw" aria-hidden="true" draggable="true"></i> 警告
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow background-bottom">
                <div class="widget-header cover overlay">
                    <img class="cover-background height-250" src="images/photos/city-4.jpg" />
                    <div class="overlay-panel overlay-background overlay-bottom">
                        <div class="row no-space">
                            <div class="col-xs-6">
                                <a class="avatar avatar-lg bg-white pull-left mr-20 img-bordered" href="javascript:;">
                                    <img src="images/portraits/1.jpg" alt="">
                                </a>
                                <div>
                                    <div class="f-20">康康</div>
                                    <div class="f-14">CEO</div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row no-space text-center">
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <div>关注</div>
                                            <span class="f-20">6584</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <div>粉丝</div>
                                            <span class="f-20">2046</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <div>微博</div>
                                            <span class="f-20">325</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow">
                <div class="widget-header cover">
                    <div class="cover-background pd-20" style="background-image: url('images/photos/city-6.jpg')">
                        <blockquote class="cover-quote white">matchHeight使所有选定元素的高度完全相等。 它处理许多导致类似插件失败的边缘情况。</blockquote>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="avatar avatar-sm pull-left mr-10 margin-top-5">
                        <img src="images/portraits/3.jpg" alt="">
                    </div>
                    <div class="info mb-25">
                        <div class="blue-grey-700 text-uppercase">康康</div>
                        <div class="blue-grey-400 text-capitalize">开发者</div>
                    </div>
                    <p class="mb-40">matchHeight使所有选定元素的高度完全相等。 它处理许多导致类似插件失败的边缘情况。</p>
                    <div class="text-right">
                        <a class="text-action" href="javascript:;"><i class="fa fa-heart"></i> <span>23</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow text-center">
                <div class="widget-header cover overlay">
                    <div class="cover-background" style="background-image: url(images/photos/city-5.jpg)">
                        <div class="v-align pr-30 pl-0">
                            <div class="v-align-bottom width-full">
                                <a class="avatar avatar-100 img-bordered bg-white mt-20" href="javascript:;">
                                    <img src="images/portraits/7.jpg" alt="">
                                </a>
                                <h3 class="white">康康</h3>
                                <p class="white"><i class="fa fa-map mr-10" aria-hidden="true"></i> 深圳
                                </p>
                                <button type="button" class="btn btn-primary mb-20">关注</button>
                                <div class="row no-space overlay-background">
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <span class="f-20">13.2K</span>
                                            <div>关注</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <span class="f-20">246</span>
                                            <div>粉丝</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="text-center pd-20 white">
                                            <span class="f-20">32</span>
                                            <div>微博</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 masonry-item">
            <div class="widget widget-shadow">
                <div class="widget-header height-150 bg-blue-600 v-align pv-20 ph-25">
                    <blockquote class="cover-quote v-align-middle white f-20">
                        matchHeight使所有选定元素的高度完全相等。 它处理许多导致类似插件失败的边缘情况。
                    </blockquote>
                </div>
                <div class="widget-body pt-0" style="margin-top: -30px">
                    <div class="avatar avatar-lg img-bordered bg-white mb-10">
                        <img src="images/portraits/3.jpg" alt="">
                    </div>
                    <div class="info mb-25">
                        <div class="blue-grey-700">康康</div>
                        <div class="blue-grey-400">开发者</div>
                    </div>
                    <p class="mb-35 blue-grey-500">matchHeight使所有选定元素的高度完全相等。 它处理许多导致类似插件失败的边缘情况。 </p>
                    <div class="text-right">
                        <a class="text-action" href="javascript:;"><i class="fa fa-heart"></i> <span>16</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/lib/jquery.matchHeight/jquery.matchHeight.min.js"></script>
<script>
    'use strict';

    $('[data-plugin=matchHeight]')["each"](function() {
        var mh = $(this),
            data = $["extend"](!![], {}, null, mh['data']()),
            ms = mh["data"]('matchSelector');
        if (ms) {
            mh.matchHeight(data);
        } else {
            mh.children().matchHeight(data);
        }
    });
</script>