
<div class="kui-header">
        <h1 class="kui-title">容器</h1>
        <div class="kui-header-actions">
                <ol class="kui-breadcrumb">
                        <li>
                            <a href="javascript:;">首页</a>
                        </li>
                        <li class="active">当前位置</li>
                    </ol>
        </div>
</div>
<div class="kui-content">
    <div class="panel">
            <div class="panel-body">
                    <h4><strong>容器的作用</strong></h4>
                    <p>用来包裹格栅脚手架和页面内容，能够自动在水平方向居中。</p>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><strong>响应式布局</strong></h4>
                            <p>该容器使用<code>.container</code>来引用，它会根据页面高度自动调整宽度。
                            </p>
                            <div class="container" style="border: 1px solid #eeeeee;height:120px;">我是container</div>
                        </div>
                        <div  class="col-md-12">
                            <h4><strong>液态布局容器</strong></h4>
                            <p>该容器使用<code>.container-fluid</code>来引用，它的<code>width</code>是100%，会占据父级容器全部宽度。</p>
                            <div class="container-fluid" style="border: 1px solid #eeeeee;height:120px;">我是container-fluid</div>
                        </div>
                        <div  class="col-lg-4">
                                <h4><strong>固定宽度容器</strong></h4>
                                <p>
                                    <code>.container-fixed</code>宽度1160px<br/>
                                    <div class="container-fixed" style="border: 1px solid #eeeeee;height:120px;">我是container-fixed</div> </p>
                                    <p><code>.container-fixed-md</code>宽度960px<br/>
                                    <div class="container-fixed-md" style="border: 1px solid #eeeeee;height:120px;">我是container-fixed-md</div> </p>
                                    <p> <code>.container-fixed-sm</code>宽度740px<br/>
                                    <div class="container-fixed-sm" style="border: 1px solid #eeeeee;height:120px;">我是container-fixed-sm</div> </p>
                                    <p><code>.container-fixed-xs</code>宽度440px<br/>
                                    <div class="container-fixed-xs" style="border: 1px solid #eeeeee;height:120px;">我是container-fixed-xs</div>
                                </p>
                        </div>
                    </div>
            </div>
    </div>
</div>
