

  <div class="kui-header">
      <h1 class="kui-title">表单</h1>
  </div>
  <div class="kui-content">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">常用表单 </h3>
          </div>
          <div class="panel-body container-fluid">
              <div class="example-wrap">
                  <div class="row row-lg">
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">圆形</h4>
                              <input class="kui-form-control round" name="inputEmail" id="inputRounded" type="email">
                              <h4 class="example-title">矩形</h4>
                              <input class="kui-form-control square" id="inputRounded" type="text">
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">禁用</h4>
                              <input disabled="" class="kui-form-control" id="inputDisabled" type="text" placeholder="被禁用的文本框">
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">获得焦点</h4>
                              <input class="kui-form-control focus empty" id="inputFocus" type="text" value="当前文本框获得了焦点">
                          </div>

                      </div>
                      <div class="col-md-4">
                          <div class="example-wrap">
                              <h4 class="example-title">文本域</h4>
                              <textarea class="kui-form-control" id="textareaDefault" rows="3"></textarea>
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">文件上传</h4>
                              <div class="kui-form-group">
                                  <div class="kui-input-group kui-input-group-file">
                                      <input class="kui-form-control" type="text" readonly="">
                                      <span class="kui-input-group-btn">
                                          <span class="btn btn-success btn-file">
                                              <i class="fa fa-upload" aria-hidden="true"></i>
                                              <input type="file" multiple="">
                                          </span>
                                      </span>
                                  </div>
                              </div>
                              <div class="kui-form-group">
                                  <div class="kui-input-group kui-input-group-file">
                                      <input class="kui-form-control" type="text" readonly="">
                                      <span class="kui-input-group-btn">
                                          <span class="btn btn-outline btn-file">
                                              <i class="fa fa-upload" aria-hidden="true"></i>
                                              <input type="file" multiple="">
                                          </span>
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">搜索框</h4>
                              <div class="kui-form-group">
                                  <div class="kui-input-group">
                                      <input class="kui-form-control" type="text" placeholder="请输入关键词...">
                                      <span class="kui-input-group-btn">
                          <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </span>
                                  </div>
                              </div>
                              <div class="kui-form-group">
                                  <div class="input-search">
                                      <button class="input-search-btn" type="submit">
                                          <i class="fa fa-search" aria-hidden="true"></i></button>
                                      <input class="kui-form-control" type="text" placeholder="请输入关键词...">
                                  </div>
                              </div>
                              <div class="kui-form-group">
                                  <div class="input-search input-search-dark">
                                      <i class="input-search-fa fa fa-search" aria-hidden="true"></i>
                                      <input class="kui-form-control" type="text" placeholder="请输入关键词...">
                                      <button class="input-search-close fa fa-close" aria-label="清空" type="button"></button>
                                  </div>
                              </div>
                          </div>

                      </div>
                  
                      <div class="col-sm-6 col-md-4">

                          <div class="example-wrap">
                              <h4 class="example-title">大小</h4>
                              <div class="kui-form-group">
                                  <input class="kui-form-control input-sm" type="text" placeholder="小尺寸">
                              </div>
                              <div class="kui-form-group">
                                  <input class="kui-form-control" type="text" placeholder="普通">
                              </div>
                              <div class="kui-form-group">
                                  <input class="kui-form-control input-lg" type="text" placeholder="大尺寸">
                              </div>
                          </div>

                      </div>
                      <div class="col-md-4">

                          <div class="example-wrap margin-sm-0">
                              <h4 class="example-title">下拉列表</h4>
                              <div class="kui-form-group">
                                  <select class="kui-form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                  </select>
                              </div>
                              <div class="kui-form-group">
                                  <select class="kui-form-control" multiple="">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                  </select>
                              </div>
                          </div>

                      </div>
                      <div class="clearfix visible-sm-block"></div>
                  
                  </div>
                  <div class="row row-lg">
                      <div class="col-sm-6 col-lg-4">

                          <div class="example-wrap">
                              <h4 class="example-title">复选框</h4>
                              <p>添加 <code>.checkbox-custom</code></p>
                              <div class="col-md-6 col-sm-6">
                                  <div class="checkbox-custom checkbox-primary">
                                      <input id="inputUnchecked" type="checkbox">
                                      <label for="inputUnchecked">未选中</label>
                                  </div>
                                  <div class="checkbox-custom checkbox-primary">
                                      <input id="inputChecked" type="checkbox" checked="">
                                      <label for="inputChecked">选中</label>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                  <div class="checkbox-custom">
                                      <input disabled="" type="checkbox">
                                      <label>未选中（禁用）</label>
                                  </div>
                                  <div class="checkbox-custom">
                                      <input disabled="" type="checkbox" checked="">
                                      <label>选中（禁用）</label>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-lg-4">

                          <div class="example-wrap">
                              <h4 class="example-title">单选框</h4>
                              <p>添加 <code>.radio-custom</code></p>
                              <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                      <div class="radio-custom radio-primary">
                                          <input name="inputRadios" id="inputRadiosUnchecked" type="radio">
                                          <label for="inputRadiosUnchecked">未选中</label>
                                      </div>
                                      <div class="radio-custom radio-primary">
                                          <input name="inputRadios" id="inputRadiosChecked" type="radio" checked="">
                                          <label for="inputRadiosChecked">选中</label>
                                      </div>
                                  </div>                                    
                                  <div class="col-md-6 col-sm-6">
                                      <div class="radio-custom radio-primary">
                                          <input name="inputRadiosDisabled" disabled="" id="inputRadiosDisabled" type="radio">
                                          <label for="inputRadiosDisabled">未选中（禁用）</label>
                                      </div>
                                      <div class="radio-custom radio-primary">
                                          <input name="inputRadiosDisabledChecked" disabled="" id="inputRadiosDisabledChecked" type="radio" checked="">
                                          <label for="inputRadiosDisabledChecked">选中（禁用）</label>
                                      </div>
                                  </div>    
                              </div>
                          </div>

                      </div>
                      <div class="col-sm-6 col-lg-4">
                          <div class="example-wrap">
                              <h4 class="example-title">颜色</h4>
                              <p>默认样式是 <code>.checkbox-default</code>，修改default，支持五种不同样式:<br/>
                                  <code>primary</code> <code>success</code> <code>info</code> <code>warning</code> <code>danger</code> </p>
                                  <div class="col-md-1">
                                      <div class="checkbox-custom">
                                          <input name="inputCheckboxes" type="checkbox" checked="">
                                          <label></label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox-custom checkbox-default">
                                          <input name="inputCheckboxes" type="checkbox" checked="">
                                          <label></label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                          <div class="checkbox-custom checkbox-primary">
                                              <input name="inputCheckboxes" type="checkbox" checked="">
                                              <label></label>
                                          </div>
                                      </div>
                                  <div class="col-md-1">
                                      <div class="radio-custom">
                                          <input name="inputRadioDefault" id="inputRadioNormal" type="radio" checked="">
                                          <label for="inputRadioNormal"></label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="radio-custom radio-default">
                                          <input name="inputRadioDefault" type="radio" checked="">
                                          <label></label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                          <div class="radio-custom radio-primary">
                                              <input name="inputRadioDefault" type="radio" checked="">
                                              <label></label>
                                          </div>
                                      </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">表单组合 </h3>
          </div>
          <div class="panel-body container-fluid">
              <div class="row row-lg">
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap">
                          <h4 class="example-title">复选、单选</h4>
                          <p>复选，单选框也可以换成其他元素</p>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">
                                      <span class="checkbox-custom checkbox-default">
                                          <input name="inputCheckbox" id="inputCheckbox" type="checkbox" checked="">
                                          <label for="inputCheckbox"></label>
                                      </span>
                                  </span>
                                  <input class="kui-form-control" type="text">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">
                                      <span class="radio-custom radio-default">
                                          <input name="inputRadio" id="inputRadio" type="radio" checked="">
                                          <label for="inputRadio"></label>
                                      </span>
                                  </span>
                                  <input class="kui-form-control" type="text">
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap">
                          <h4 class="example-title">文本</h4>
                          <p>可以在文本框任意一侧放置</p>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <input class="kui-form-control" type="email" placeholder="email">
                                  <span class="kui-input-group-addon">@example.com</span>
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">¥</span>
                                  <input class="kui-form-control" type="text" placeholder="">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">¥</span>
                                  <input class="kui-form-control" type="text" placeholder="">
                                  <span class="kui-input-group-addon">.00</span>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap">
                          <h4 class="example-title">图标</h4>
                          <p>可以使用字体图标</p>
                          <div class="kui-form-group">
                              <div class="kui-input-group input-group-icon">
                                  <span class="kui-input-group-addon">
                                      <span class="fa fa-user" aria-hidden="true"></span>
                                  </span>
                                  <input class="kui-form-control" type="text" placeholder="用户名">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group input-group-icon">
                                  <span class="kui-input-group-addon">
                                      <span class="fa fa-envelope" aria-hidden="true"></span>
                                  </span>
                                  <input class="kui-form-control" type="text" placeholder="Email">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group input-group-icon">
                                  <input class="kui-form-control" type="email" placeholder="Email">
                                  <span class="kui-input-group-addon">
                                      <span class="fa fa-envelope" aria-hidden="true"></span>
                                  </span>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="clearfix visible-md-block"></div>
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap margin-md-0">
                          <h4 class="example-title">按钮</h4>
                          <p>需要使用 <code>.kui-input-group-btn</code> 包裹在按钮外面 </p>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-btn">
                                      <button class="btn btn-default btn-outline" type="button">搜索</button>
                                  </span>
                                  <input class="kui-form-control" type="text" placeholder="关键词...">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <input class="kui-form-control" type="text" placeholder="关键词...">
                                  <span class="kui-input-group-btn">
                                      <button class="btn btn-default btn-outline" type="button">搜索</button>
                                  </span>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap margin-sm-0">
                          <h4 class="example-title">下拉菜单</h4>
                          <p>使用下拉菜单</p>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <div class="kui-input-group-btn">
                                      <button class="btn btn-default btn-outline dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown">
                                          操作 <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="exampleColorDropdown1">
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项1</a>
                                          </li>
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项2</a>
                                          </li>
                                          <li class="active" role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项3</a>
                                          </li>
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项4</a>
                                          </li>
                                      </ul>
                                  </div>
                                  <input class="kui-form-control" type="text">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <input class="kui-form-control" type="text">
                                  <div class="kui-input-group-btn">
                                      <button tabindex="-1" class="btn btn-default btn-outline" type="button">操作
                                      </button>
                                      <button tabindex="-1" class="btn btn-default btn-outline dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown">
                                          <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="exampleColorDropdown1">
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项1</a>
                                          </li>
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项2</a>
                                          </li>
                                          <li class="active" role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项3</a>
                                          </li>
                                          <li role="presentation">
                                              <a role="menuitem" href="javascript:;">下拉菜单项4</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-sm-6 col-md-4">

                      <div class="example-wrap">
                          <h4 class="example-title">大小</h4>
                          <p>在 <code>.kui-input-group</code> 添加控制大小的类 </p>
                          <div class="kui-form-group">
                              <div class="kui-input-group kui-input-group-lg">
                                  <span class="kui-input-group-addon">@</span>
                                  <input class="kui-form-control input-lg" type="text" placeholder="用户名">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">@</span>
                                  <input class="kui-form-control" type="text" placeholder="用户名">
                              </div>
                          </div>
                          <div class="kui-form-group">
                              <div class="kui-input-group kui-input-group-sm">
                                  <span class="kui-input-group-addon">@</span>
                                  <input class="kui-form-control" type="text" placeholder="用户名">
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">无框表单</h3>
          </div>
          <div class="panel-body container-fluid">
              <div class="row row-lg">
                  <div class="col-sm-6">
                      <form autocomplete="off">
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputText">文本框</label>
                              <input name="inputText" class="kui-form-control" id="inputText" type="text" placeholder="文本框">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputEmail">邮箱</label>
                              <input name="inputEmail" class="kui-form-control" id="inputEmail" type="email" placeholder="邮箱">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputPassword">密码</label>
                              <input name="inputPassword" class="kui-form-control" id="inputPassword" type="password" placeholder="密码">
                          </div>
                          <div class="kui-form-group kui-form-material kui-form-material-file">
                              <label class="control-label" for="inputFile">文件域</label>
                              <input class="kui-form-control" type="text" readonly="" placeholder="请选择文件..">
                              <input name="inputFile" id="inputFile" type="file" multiple="">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="textarea">文本域</label>
                              <textarea name="textarea" class="kui-form-control" id="textarea" rows="3"></textarea>
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="select">下拉菜单</label>
                              <select class="kui-form-control" id="select">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select>
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="selectMulti">下拉菜单（多选）</label>
                              <select class="kui-form-control" id="selectMulti" multiple="">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select>
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputDisabled">文本框（禁用）</label>
                              <input disabled="" class="kui-form-control" id="inputDisabled" type="text" placeholder="禁用">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputFocus">文本框（获得焦点）</label>
                              <input class="kui-form-control focus" id="inputFocus" type="text" placeholder="获得焦点">
                          </div>
                          <div class="kui-form-group kui-form-material has-warning">
                              <label class="control-label" for="inputWarning">文本框（警告）</label>
                              <input class="kui-form-control" id="inputWarning" type="text" placeholder="警告">
                          </div>
                          <div class="kui-form-group kui-form-material has-error">
                              <label class="control-label" for="inputError">文本框（错误）</label>
                              <input class="kui-form-control" id="inputError" type="text" placeholder="错误">
                          </div>
                          <div class="kui-form-group kui-form-material has-success">
                              <label class="control-label" for="inputSuccess">文本框（成功）</label>
                              <input class="kui-form-control" id="inputSuccess" type="text" placeholder="成功">
                          </div>
                          <div class="kui-form-group kui-form-material has-info">
                              <label class="control-label" for="inputInfo">文本框（信息）</label>
                              <input class="kui-form-control" id="inputInfo" type="text" placeholder="信息">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputSmall">小尺寸</label>
                              <input name="inputSmall" class="kui-form-control input-sm" id="inputSmall" type="text" placeholder="小尺寸">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputSmall">默认尺寸</label>
                              <input name="inputDefault" class="kui-form-control" id="inputDefault" type="text" placeholder="默认">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputSmall">大尺寸</label>
                              <input name="inputLarge" class="kui-form-control input-lg" id="inputLarge" type="text" placeholder="大尺寸">
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputHint">提示</label>
                              <input name="inputHint" class="kui-form-control" id="inputHint" type="text" placeholder="获得焦点时显示提示信息" data-hint="欢迎使用KUI"><div class="hint">欢迎使用KUI</div>
                          </div>
                          <div class="kui-form-group kui-form-material">
                              <label class="control-label" for="inputAddons">附加组件</label>
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">¥</span>
                                  <div class="kui-form-control-wrap">
                                      <input class="kui-form-control" id="inputAddons" type="text">
                                  </div>
                                  <span class="kui-input-group-btn">
                                      <button class="btn btn-outline btn-default" type="button">按钮</button>
                                  </span>
                              </div>
                          </div>
                          <div class="kui-form-group kui-form-material row">
                              <div class="col-sm-6">
                                  <label class="control-label" for="inputGrid1">栅格</label>
                                  <input name="inputGrid1" class="kui-form-control" id="inputGrid1" type="text" placeholder=".col-sm-6">
                              </div>
                              <div class="col-sm-6">
                                  <label class="control-label" for="inputGrid2">栅格</label>
                                  <input name="inputGrid2" class="kui-form-control" id="inputGrid2" type="text" placeholder=".col-sm-6">
                              </div>
                          </div>
                      </form>
                  </div>   
                  <div class="col-sm-6">
                      <form autocomplete="off">
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control empty" name="inputFloatingText">
                              <label class="floating-label">文本框</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="email" class="kui-form-control empty" name="inputFloatingEmail">
                              <label class="floating-label">邮箱</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="password" class="kui-form-control empty" name="inputFloatingPassword">
                              <label class="floating-label">密码</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating kui-form-material-file">
                              <input type="text" class="kui-form-control empty" readonly="">
                              <input type="file" name="inputFloatingFile" multiple="">
                              <label class="floating-label">请选择文件..</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <textarea class="kui-form-control empty" rows="3" name="textareaFloating"></textarea>
                              <label class="floating-label">文本域</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <select class="kui-form-control empty">
                                  <option>&nbsp;</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select>
                              <label class="floating-label">下拉框</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <label class="floating-label floating-label-static">下拉框（多选）</label>
                              <select class="kui-form-control empty" multiple="">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                              </select>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control empty" disabled="">
                              <label class="floating-label">禁用</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control focus empty">
                              <label class="floating-label">获得焦点s</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating has-warning">
                              <input type="text" class="kui-form-control empty">
                              <label class="floating-label">警告</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating has-error">
                              <input type="text" class="kui-form-control empty">
                              <label class="floating-label">错误</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating has-success">
                              <input type="text" class="kui-form-control empty">
                              <label class="floating-label">成功</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating has-info">
                              <input type="text" class="kui-form-control empty">
                              <label class="floating-label">信息</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control input-sm empty" name="inputFloatingSmall">
                              <label class="floating-label">小尺寸</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control empty" name="inputFloatingSmall">
                              <label class="floating-label">默认尺寸</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control input-lg empty" name="inputFloatingLarge">
                              <label class="floating-label">大尺寸</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <input type="text" class="kui-form-control empty" name="inputFloatingHint" data-hint="Write here something cool"><div class="hint">欢迎使用KUI</div>
                              <label class="floating-label">提示</label>
                          </div>
                          <div class="kui-form-group kui-form-material floating">
                              <div class="kui-input-group">
                                  <span class="kui-input-group-addon">¥</span>
                                  <div class="kui-form-control-wrap">
                                      <input type="text" class="kui-form-control empty">
                                      <label class="floating-label">附加组件</label>
                                  </div>
                                  <span class="kui-input-group-btn">
                                      <button class="btn btn-outline btn-default" type="button">Button</button>
                                  </span>
                              </div>
                          </div>
                          <div class="kui-form-group kui-form-material floating row">
                              <div class="col-sm-6">
                                  <input type="text" class="kui-form-control empty" name="inputFloatingGrid1">
                                  <label class="floating-label">栅格</label>
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" class="kui-form-control empty" name="inputFloatingGrid2">
                                  <label class="floating-label">栅格</label>
                              </div>
                          </div>
                      </form>
      
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script id="page_form" type="text/html"></script>