<style>
    .example {
        position: relative;
        padding: 50px 15px 15px 50px;
        background-color: #f3f7fa;
        border: 1px solid #eee;
    }
    
    .example-reverse {
        padding: 50px 50px 15px 15px;
    }
    
    .example-bottom-reverse {
        padding: 15px 50px 50px 15px;
    }
    
    .example-bottom {
        padding: 15px 15px 50px 50px;
    }
</style>
<div class="kui-header">
    <h1 class="kui-title">多彩丝带</h1>
    <div class="kui-header-actions">
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
    </div>
</div>
<div class="kui-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <h4 class="example-title">基本</h4>
                        <p>可以为元素添加 <code>.ribbons</code> 类来使用彩带，使用 <code>.vertical</code> 类来改变方向，也可以使用其他类（如
                            <code>. </code> 或 <code>.ribbon-warning</code>）来改变彩带的显示,搭配颜色方案进行不同色彩展示. </p>
                        <div class="row">
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon">
                                        <span class="ribbon-inner bg-primary">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon">
                                        <span class="ribbon-inner bg-pink">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon ribbon-vertical">
                                        <span class="ribbon-inner bg-purple"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon ribbon-vertical">
                                        <span class="ribbon-inner bg-green"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example">
                                    <div class="ribbon ribbon-vertical ribbon-info">
                                        <span class="ribbon-inner bg-teal"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <h4 class="example-title">右侧显示</h4>
                        <p> 另外，您可以使用 <code>.ribbon-reverse</code> 类来使彩带在右侧显示。</p>
                        <div class="row">
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-reverse">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-reverse">
                                        <span class="ribbon-inner bg-primary">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-reverse">
                                        <span class="ribbon-inner  bg-pink">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-vertical ribbon-reverse">
                                        <span class="ribbon-inner bg-purple"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-vertical ribbon-reverse">
                                        <span class="ribbon-inner bg-green"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-vertical ribbon-reverse">
                                        <span class="ribbon-inner bg-teal"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <h4 class="example-title">书签</h4>
                        <p>使用 <code>.ribbon-bookmark</code> 类来快速实现书签效果。</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="example">
                                    <div class="ribbon ribbon-bookmark">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-bookmark ribbon-reverse">
                                        <span class="ribbon-inner bg-teal">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example">
                                    <div class="ribbon ribbon-vertical ribbon-bookmark  ">
                                        <span class="ribbon-inner bg-green"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-vertical ribbon-bookmark ribbon-reverse">
                                        <span class="ribbon-inner bg-red"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <h4 class="example-title">立体效果</h4>
                        <p>使用 <code>.ribbon-clip</code> 类来实现立体效果，同时可以添加 <code>.ribbon-bottom</code> 等类来改变方向。 </p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="example">
                                    <div class="ribbon ribbon-clip">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-clip ribbon-reverse">
                                        <span class="ribbon-inner bg-primary">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example example-bottom">
                                    <div class="ribbon ribbon-clip ribbon-bottom ">
                                        <span class="ribbon-inner bg-yellow">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="example example-bottom-reverse">
                                    <div class="ribbon ribbon-clip ribbon-reverse ribbon-bottom">
                                        <span class="ribbon-inner bg-red">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <div class="example-wrap margin-sm-0">
                        <h4 class="example-title">徽章</h4>
                        <p>使用 <code>.ribbon-badge</code> 类来实现徽章效果，同时可以添加 <code>.ribbon-bottom</code> 等类来改变方向。</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="example">
                                    <div class="ribbon ribbon-badge ribbon-primary">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-badge ribbon-primary ribbon-reverse">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-bottom">
                                    <div class="ribbon ribbon-badge ribbon-primary ribbon-bottom">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-bottom-reverse">
                                    <div class="ribbon ribbon-badge ribbon-primary ribbon-reverse ribbon-bottom">
                                        <span class="ribbon-inner">彩带</span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">角标</h4>
                        <p>使用 <code>.ribbon-corner</code> 类来实现角标效果，同时可以添加 <code>.ribbon-bottom</code> 等类来改变方向。 </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="example">
                                    <div class="ribbon ribbon-corner ribbon-primary">
                                        <span class="ribbon-inner"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-reverse">
                                    <div class="ribbon ribbon-corner ribbon-primary ribbon-reverse">
                                        <span class="ribbon-inner"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-bottom">
                                    <div class="ribbon ribbon-corner ribbon-primary ribbon-bottom">
                                        <span class="ribbon-inner"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="example example-bottom-reverse">
                                    <div class="ribbon ribbon-corner ribbon-primary ribbon-reverse ribbon-bottom">
                                        <span class="ribbon-inner"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    </div>
                                    <p>我是一条彩色得丝带,我被用来标记一些重要得信息,我可以跟颜色方案结合展示,也可以自定义颜色展示! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>