<style>
    .alert .btn-default {
        background-color: transparent;
        border-color: transparent
    }
    
    .alert {
        margin-bottom: 22px;
    }
</style>
<div class="kui-header">
    <h1 class="kui-title">弹出框</h1>
    <div class="kui-header-actions">
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
        <button type="button" class="btn btn-icon btn-inverse btn-round">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
    </div>
</div>
<div class="kui-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">简单示例</h4>
                        <p>颜色可参考颜色方案选色。</p>
                        <div class="alert bg-primary alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                        </div>
                        <div class="alert bg-cyan alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                        </div>
                        <div class="alert bg-green alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                        </div>
                        <div class="alert bg-red alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                        </div>
                        <div class="alert bg-orange alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带图标</h4>
                        <p>添加 <code>.alert-icon</code> 类使用。</p>
                        <div class="alert alert-icon bg-primary alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button> <i class="fa fa-bell" aria-hidden="true"></i>Hi，我是一个弹出框！
                        </div>
                        <div class="alert alert-icon bg-cyan alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button> <i class="fa fa-info" aria-hidden="true"></i>Hi，我是一个弹出框！
                        </div>
                        <div class="alert alert-icon bg-green alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button><i class="fa fa-check" aria-hidden="true"></i>Hi，我是一个弹出框！
                        </div>
                        <div class="alert alert-icon bg-red alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button> <i class="fa fa-close" aria-hidden="true"></i>Hi，我是一个弹出框！
                        </div>
                        <div class="alert alert-icon bg-orange alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button><i class="fa fa-cog" aria-hidden="true"></i> Hi，我是一个弹出框！
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带标题</h4>
                        <p>带标题的示例。</p>
                        <div role="alert" class="alert bg-green-100 alert-dismissible green-800">
                            <button aria-label="关闭" data-dismiss="alert" class="close" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！ </p>
                        </div>
                        <div role="alert" class="alert bg-orange-100 alert-dismissible orange-800">
                            <button aria-label="关闭" data-dismiss="alert" class="close" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！ </p>
                        </div>
                        <div role="alert" class="alert bg-cyan-100 alert-icon alert-dismissible cyan-800">
                            <button aria-label="关闭" data-dismiss="alert" class="close" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！ </p>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-md-block visible-lg-block"></div>

                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">关闭</h4>
                        <p>通过添加 <code>.alert-dismissible</code> 类和关闭按钮实现关闭。</p>
                        <div class="alert bg-primary alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <strong>Hi，</strong> 我是一个弹出框！
                        </div>
                        <div class="alert dark bg-primary white" role="alert">
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！ </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带链接</h4>
                        <p>通过添加 <code>a</code> 标签实现。</p>
                        <div class="alert bg-red alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button> Hi，我是一个弹出框！
                            <a class="white" href="javascript:;">了解更多&raquo;</a>
                        </div>
                        <div class="alert bg-red-100 alert-dismissible red-800" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！
                                <a class="red-800" href="javascript:;">了解更多&raquo;</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带列表</h4>
                        <p>包含标题，列表和关闭按钮的示例。</p>
                        <div class="alert bg-cyan alert-dismissible white" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <h4>带列表的弹出框</h4>
                            <ul>
                                <li>HTML5 入门教程</li>
                                <li>HTML5 的前世今生</li>
                            </ul>
                        </div>
                        <div class="alert bg-cyan-100 alert-dismissible cyan-800" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <h4>带列表的弹出框</h4>
                            <ul>
                                <li>HTML5 入门教程</li>
                                <li>HTML5 的前世今生</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带按钮</h4>
                        <p>带按钮的示例。</p>
                        <div class="alert bg-red-100 alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button> Hi，我是一个弹出框！
                            <p class="mt-5">
                                <button class="btn btn-sm btn-danger" type="button">删除</button>
                                <button class="btn btn-sm btn-link blue-grey-500" type="button">取消</button>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="example-wrap">
                        <h4 class="example-title">带头像</h4>
                        <p>添加 <code>.alert-avatar</code> 类。</p>
                        <div role="alert" class="alert bg-cyan-200 alert-avatar alert-dismissible">
                            <button aria-label="关闭" data-dismiss="alert" class="close" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <span class="avatar">
                                <img alt="..." src="images/portraits/5.jpg">
                            </span>
                            <h4>消息提示</h4>
                            <p>
                                Hi，我是一个弹出框！ </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="example-wrap">
                <h4 class="example-title">Layer弹层 <small><a href="http://layer.layui.com/?alone">layer官网</a></small></h4>
                <div class="example example-buttons">
                    <button id="layerExample0" type="button" class="btn btn-outline btn-default">默认弹出</button>
                    <button id="layerExample1" type="button" class="btn btn-outline btn-primary">询问</button>
                    <button id="layerExample2" type="button" class="btn btn-outline btn-success">简单提示</button>
                    <button id="layerExample3" type="button" class="btn btn-outline btn-info">弹出页面</button>
                    <button id="layerExample4" type="button" class="btn btn-outline btn-default">tips层</button>
                    <button id="layerExample5" type="button" class="btn btn-outline btn-primary">加载中</button>
                    <button id="layerExample6" type="button" class="btn btn-outline btn-success">TAB层</button>
                    <button id="layerExample7" type="button" class="btn btn-outline btn-info">右下角弹出</button>
                    <button id="layerExample8" type="button" class="btn btn-outline">自定义内容</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#layerExample0")["click"](function() {
            layer.alert('默认弹出');
        });

        $("#layerExample1")["click"](function() {
            //询问框
            layer.confirm('您是如何看待前端开发？', {
                btn: ['重要', '奇葩'] //按钮
            }, function() {
                layer.msg('的确很重要', {
                    icon: 1
                });
            }, function() {
                layer.msg('也可以这样', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了']
                });
            });
        });

        $("#layerExample2")["click"](function() {
            layer.msg('提示中');
        });

        $("#layerExample3")["click"](function() {
            layer.open({
                type: 2,
                title: '弹出页面',
                shadeClose: true,
                shade: 0.8,
                area: ['780px', '90%'],
                content: 'index.html' //iframe的url
            });
        });

        $("#layerExample4")["click"](function() {
            layer.tips('Hi，我是tips', '#layerExample4');
        });

        $("#layerExample5")["click"](function() {
            var index = layer.load(1, {
                time: 4000,
                shade: [0.5, '#fff'] //0.5透明度的白色背景
            });
        });

        $("#layerExample6")["click"](function() {
            layer.tab({
                area: ['600px', '300px'],
                tab: [{
                    title: 'TAB1',
                    content: '内容1'
                }, {
                    title: 'TAB2',
                    content: '内容2'
                }, {
                    title: 'TAB3',
                    content: '内容3'
                }]
            });
        });

        $("#layerExample7")["click"](function() {
            //iframe窗
            layer.open({
                type: 2,
                title: false,
                closeBtn: 0, //不显示关闭按钮
                shade: [0],
                area: ['340px', '215px'],
                offset: 'rb', //右下角弹出
                time: 2000, //2秒后自动关闭
                anim: 2,
                content: ['404.html', 'no'], //iframe的url，no代表不显示滚动条
                end: function() { //此处用于演示
                    layer.msg('自动关闭后触发事件');
                }
            });
        });

        $("#layerExample8")["click"](function() {
            //页面层-自定义
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: true,
                area: ['340px'],
                skin: 'layui-layer-nobg',
                content: ' <div class="alert alert-avatar bg-green white" role="alert" style="margin-bottom: 0px;">' +
                    ' <span class="avatar"><img alt="..." src="images/portraits/5.jpg"></span> <h4>消息提示</h4>' +
                    '<p>Hi，你好,可以认识一下吗！</p>' +
                    '</div>'
            });

        });

    });
</script>