<link rel="stylesheet" href="lib/intro/intro.css">

<div class="kui-header">
    <h1 class="kui-title">新手指引</h1>
</div>
<div class="kui-content">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Intro<a href="https://introjs.com/">官网</a></h4>
        </div>
        <div class="panel-body container-fluid">
            <div class="row pd-25">
                <div class="col-lg-12 col-md-12">
                    <div class="page page-full v-align text-center animation-fade">
                        <div class="page-content v-align-middle">
                            <button class="btn site-tour-trigger">点我开始新手指引</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12  height-150" />
                <div id="div1" class="col-md-3 bg-primary-100 text-center mr-10 height-150">
                    这里出现第一步引导
                </div>
                <div id="div2" class="col-md-3 bg-primary-100 text-center  height-150">
                    这里出现第二步引导
                </div>
                <div class="col-md-3 div3 bg-primary-100 text-center ml-10 height-150">
                    这里出现第三步引导
                </div>
                <div class="col-md-12  height-150" />
                <div class="col-md-6 div4 height-50 text-center">
                    <button type="button" class="btn btn-block btn-default">Default</button>
                </div>
                <div class="col-md-12  height-150" />
                <div class="col-md-6 div5 height-50 text-center">
                    <input class="kui-form-control round" name="inputEmail" id="inputRounded" type="email">
                </div>

            </div>
        </div>
    </div>
</div>
<script src="lib/intro/intro.min.js"></script>
<script>
    (function(win, $) {

        'use strict';
        var options = $["extend"](!![], {}, {
            'skipLabel': "<i class='fa fa-close'></i>",
            'doneLabel': "<i class='fa fa-close'></i>",
            'nextLabel': "下一个<i class='fa fa-chevron-right'></i>",
            'prevLabel': "<i class='fa fa-chevron-left'></i>上一个",
            'showBullets': false,
            'hintButtonLabel': '完成',
            'steps': [{
                'element': "#div1",
                'position': "right",
                'intro': "第一步指引"
            }, {
                'element': "#div2",
                'position': 'right',
                'intro': "第二步指引"
            }, {
                'element': ".div3",
                'position': 'left',
                'intro': "第三步指引"
            }, {
                'element': '.div4',
                'position': "right",
                'intro': "这是一个按钮"
            }, {
                'element': ".div5",
                'position': "left",
                'intro': "这是一个输入框"
            }]
        });
        setTimeout(introJsInIt, 1000); //延迟1秒加载

        function introJsInIt() {
            var tour, of, ijs;
            if (typeof introJs === 'undefined') {
                return;
            }
            tour = options;
            of = $("body")['css']("overflow");
            ijs = introJs();
            ijs["onbeforechange"](function() {
                $("body")["css"]('overflow', 'hidden');
            });
            ijs['oncomplete'](function() {
                $("body")["css"]("overflow", of);
            });
            ijs['onexit'](function() {
                $("body")['css']('overflow', of);
            });
            ijs['setOptions'](tour);
            $(".site-tour-trigger")['on']('click', function() {
                ijs["start"]();
            });
            if (!(win['localStorage'] && win["localStorage"]["getItem"]("startTour") && of !== !![])) {
                ijs["start"]();
                win["localStorage"]["setItem"]('startTour', !![]);
            }
        }
    }(window, jQuery));