<style>
    .rating-hint {
        display: inline;
        margin-left: 10px;
        vertical-align: sub
    }
    
    .rating {
        display: inline-block;
        margin: 0 .5rem 0 0;
        font-size: 0;
        vertical-align: middle;
    }
    
    .rating .fa {
        width: 1em;
        height: auto;
        padding: 0;
        margin: 0 10px 0 0;
        font-size: 14px;
        color: #ccd5db;
        vertical-align: middle;
        cursor: pointer;
    }
</style>
<div class="kui-header">
    <h1 class="kui-title">评分</h1>
</div>
<div class="kui-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">raty
                <small>
                    <a class="example-plugin-link" href="https://github.com/wbotelhos/raty" target="_blank">
                        官网
                    </a>
                </small>
            </h3>
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">默认</h4>
                        <div class="example">
                            <div class="rating" data-plugin="rating" style="cursor: pointer;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">评分</h4>
                        <div class="example">
                            <div class="rating" data-score="3" data-plugin="rating" style="cursor: pointer;"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">数字</h4>
                        <div class="example">
                            <div class="rating" data-number="10" data-plugin="rating" style="cursor: pointer;"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">只读</h4>
                        <div class="example">
                            <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="好"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">半星</h4>
                        <div class="example">
                            <div class="rating" data-score="3.5" data-half="true" data-plugin="rating" style="cursor: pointer;"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">自定义图标</h4>
                        <div class="example">
                            <div class="rating" data-score="4" data-star-off="fa fa-heart-o" data-star-on="fa fa-heart red-600" data-plugin="rating" style="cursor: pointer;"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">取消</h4>
                        <div class="example">
                            <div class="rating" data-plugin="rating" data-cancel="true" style="cursor: pointer;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="example-wrap margin-sm-0">
                        <h4 class="example-title">提示</h4>
                        <div class="example">
                            <div class="rating" data-plugin="rating" data-cancel="true" data-target="#exampleHintTarget" data-hints="糟糕,凑合,一般,好,优秀" style="cursor: pointer;"></div>
                            <div class="rating-hint" id="exampleHintTarget">好</div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="example-wrap">
                        <h4 class="example-title">百分比</h4>
                        <div class="example">
                            <div class="rating" data-plugin="rating" data-cancel="true" data-target="#exampleHintPercentage" data-number="10" data-hints="10%,20%,30%,40%,50%,60%,70%,80%,90%,100%" style="cursor: pointer;"></div>
                            <div class="rating-hint" id="exampleHintPercentage"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="lib/jquery.raty/jquery.raty.min.js"></script>
<script>
    var def = {
        cancel: false, // Creates a cancel button to cancel the rating.
        cancelClass: 'raty-cancel', // Name of cancel's class.
        cancelHint: '取消', // The cancel's button hint.
        cancelOff: 'fa fa-minus-circle', // Icon used on active cancel.
        cancelOn: 'fa fa-minus-circle orange-600', // Icon used inactive cancel.
        cancelPlace: 'left', // Cancel's button position.
        scoreName: 'score',
        starType: "class",
        starOff: "fa fa-star",
        starHalf: "fa fa-star-half-empty orange-600",
        starOn: "fa fa-star orange-600",
        targetKeep: true,
    }
    $("[data-plugin=rating]")["each"](function(e) {

        var data = $["extend"]({},
            def, $(this)['data']());
        if (null != data.hints)
            data.hints = data.hints.split(',');
        $(this).raty(data);
    });
</script>