@charset "utf-8";
/* 黄色 */
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#ffd200}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#282828}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{color:#282828;text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#282828}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#282828}

.k-aside{}/*侧边栏*/
	.k-aside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
	.k-aside .menu_dropdown dt:hover{color:#ffd200}
	.k-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.k-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
	.k-aside .menu_dropdown li a:hover{color:#ffd200;background-color:#fafafa}
	.k-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#ffd200}
	.k-aside .menu_dropdown dt .k-iconfont{ color:#a0a7b1}
	.k-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.tabBar {border-bottom: 2px solid #ffd200}
.tabBar span.current{background-color:#ffd200;color:#282828}

.navbar .logo {
    height: 61px;
    line-height: 61px;
    margin-right: 10px;
    float: left;
}
	.k-header{position:absolute;top:0; right:0; left:0;height:61px;z-index:999; padding:0 15px}
.k-aside{position: absolute;top:61px;bottom:0;left:0;padding-top:10px;width:199px;z-index:99;overflow:auto; background-color:rgba(238,238,238,0.98);_background-color:rgb(238,238,238);border-right: 1px solid #e5e5e5}
.k-article-box{position: absolute;top:61px;right:0;bottom: 0;left:199px; overflow:hidden; z-index:1; background-color:#fff}
	.k-article{position: absolute;top:34px;bottom:0;left:0; right:0;overflow:auto;z-index:1}
.k-container{ padding:45px 0 0}
  .navbar-nav > ul > li,.navbar-nav > ul > li > a{line-height:61px;font-size:14px}